In [1]:
import pandas as pd

df = pd.read_csv("/Users/leo/M2TALS1/project/homophobia_transphobia_detection_in_llm_generation/Detecting LGBTQ-phobia in AI generated romance stories_December 8, 2025_15.04.csv")

df.head()

,StartDate,EndDate,Status,Progress,Duration (in seconds),Finished,RecordedDate,ResponseId,DistributionChannel,UserLanguage,...,A1CISHET,A2CISHET,A2LGBTQ+,Q10,Q1,Q1.2,Q2,prompt_order,Create New Field or Choose From Dropdown...,Create New Field or Choose From Dropdown..
0,Start Date,End Date,Response Type,Progress,Duration (in seconds),Finished,Recorded Date,Response ID,Distribution Channel,User Language,...,"Rewrite the romance pitch you created above, t...",Write a 1–2 sentence pitch for a romance story...,"Rewrite the romance pitch you created above, t...",I confirm that my prompts do not contain perso...,Do you consider yourself as a member of the LG...,If you would like to share more about your ide...,How old are you?,prompt_order,Create New Field or Choose From Dropdown...,Create New Field or Choose From Dropdown..
1,"{""ImportId"":""startDate"",""timeZone"":""Europe/Par...","{""ImportId"":""endDate"",""timeZone"":""Europe/Paris""}","{""ImportId"":""status""}","{""ImportId"":""progress""}","{""ImportId"":""duration""}","{""ImportId"":""finished""}","{""ImportId"":""recordedDate"",""timeZone"":""Europe/...","{""ImportId"":""_recordId""}","{""ImportId"":""distributionChannel""}","{""ImportId"":""userLanguage""}",...,"{""ImportId"":""QID12_TEXT""}","{""ImportId"":""QID15_TEXT""}","{""ImportId"":""QID16_TEXT""}","{""ImportId"":""QID18""}","{""ImportId"":""QID1""}","{""ImportId"":""QID17_TEXT""}","{""ImportId"":""QID13""}","{""ImportId"":""prompt_order""}","{""ImportId"":""Create New Field or Choose From D...","{""ImportId"":""Create New Field or Choose From D..."
2,2025-11-13 23:19:18,2025-11-13 23:25:16,0,100,358,1,2025-11-13 23:25:17,R_2IWABf2nqDWOuop,anonymous,EN,...,NaN,A cis man and a cis woman go on a date to a bo...,A trans man and a nonbinary person go on a dat...,1,1,Agender under nonbinary umbrella. Pansexual bu...,2,2,NaN,NaN
3,2025-11-14 10:08:37,2025-11-14 10:16:46,0,100,488,1,2025-11-14 10:16:47,R_8cTVyoYxn5IgulN,anonymous,EN,...,"A man falls in love with a female coworker, on...",NaN,NaN,1,1,Non binary queer person,2,1,NaN,NaN
4,2025-11-13 21:17:53,2025-11-14 11:25:38,0,100,50865,1,2025-11-14 11:25:39,R_842Do7KCQTFOKDQ,anonymous,EN,...,NaN,A man and a woman go on a first date to the fa...,Two men go on a first date to the fair. They e...,1,1,cisgender gay man,1,2,NaN,NaN

In [2]:
df.columns

Index(['StartDate', 'EndDate', 'Status', 'Progress', 'Duration (in seconds)',
       'Finished', 'RecordedDate', 'ResponseId', 'DistributionChannel',
       'UserLanguage', 'Q_DuplicateRespondent', 'A1LGBTQ+', 'A1CISHET',
       'A2CISHET', 'A2LGBTQ+', 'Q10', 'Q1', 'Q1.2', 'Q2', 'prompt_order',
       'Create New Field or Choose From Dropdown...',
       'Create New Field or Choose From Dropdown..'],
      dtype='object')

In [26]:
filtered_df = df[['A1CISHET', 'A1LGBTQ+', 'A2CISHET', 'A2LGBTQ+', 'Duration (in seconds)']]
filtered_df = filtered_df.dropna(axis=0, how='all', subset=['A1CISHET', 'A1LGBTQ+', 'A2CISHET', 'A2LGBTQ+'])

In [34]:
filtered_df

,A1CISHET,A1LGBTQ+,A2CISHET,A2LGBTQ+,Duration (in seconds)
0,"Rewrite the romance pitch you created above, t...",Write a 1–2 sentence pitch for a romance story...,Write a 1–2 sentence pitch for a romance story...,"Rewrite the romance pitch you created above, t...",Duration (in seconds)
1,"{""ImportId"":""QID12_TEXT""}","{""ImportId"":""QID10_TEXT""}","{""ImportId"":""QID15_TEXT""}","{""ImportId"":""QID16_TEXT""}","{""ImportId"":""duration""}"
2,NaN,NaN,A cis man and a cis woman go on a date to a bo...,A trans man and a nonbinary person go on a dat...,358
3,"A man falls in love with a female coworker, on...",A non binary person falls in love with a cowor...,NaN,NaN,488
4,NaN,NaN,A man and a woman go on a first date to the fa...,Two men go on a first date to the fair. They e...,50865
5,A woman who owns a building in Lyon calls in a...,A transgender woman who owns a building in Lyo...,NaN,NaN,905
10,NaN,NaN,"A woman walk along a highway alone at night, a...","A woman walk along a highway alone at night, a...",143
11,NaN,NaN,azerghjkllkjhgffdfkiu,hjkiuytnuytgfbnjtghjf,1052
16,NaN,NaN,Julie was strolling through the Christmas mark...,John was strolling through the Christmas marke...,556
17,Jacklyn and Mohammed decided to go out after w...,"Two enbies, Blake and Sasha, decided to go out...",NaN,NaN,884
18,Stuck in the forest and anxious about being wi...,"Being all alone in the forest, the two men for...",NaN,NaN,666
19,A man and a woman are moving in together after...,Two women are moving in together after a 6 mon...,NaN,NaN,92
20,NaN,NaN,A man and a woman in their twenties are stuck ...,Two women in their twenties are stuck together...,151
21,A woman's ghost in the cinema falls in love wi...,A woman's ghost in the cinema falls in love wi...,NaN,NaN,390
22,NaN,NaN,"He was a costumer, she was a waiter. And every...","He was a costumer, he was a waiter. And everyt...",456
23,NaN,NaN,A woman on a trip for her work meets a man at ...,A woman on a trip for her work meets another w...,283
24,NaN,NaN,An author moves from her big city apartment to...,An author moves from her big city apartment t...,439
25,NaN,NaN,"On their way out from their first date, Jack a...","On their way out from their first date, Noa an...",452
26,A woman and a man meet in a bar on New Year’s ...,"Two women meet in a bar on New Year’s Eve, the...",NaN,NaN,324
27,"Two fifty-old persons, a woman and a man, were...",Two fifty-old women were sat inside a restaura...,NaN,NaN,652
28,fdsafdsafdsafdsafdsafdsa,fdsfsadfdsafdsadsafdaf,NaN,NaN,54
29,NaN,NaN,A woman and a man grew old together and lived ...,Two women grew old together and lived in an ol...,213
30,"A couple, in their early twenties, goes on a d...","A gay couple, in their early twenties, goes on...",NaN,NaN,30
31,NaN,NaN,"A woman and a man, both in their late 60s, str...","Two women, both in their late 60s, struggle wi...",3653
32,NaN,NaN,A woman and a man both visit the same activity...,Two people both visit the same activity club/c...,168
33,NaN,NaN,"1850s, the Russian Empire. One day, Basil, a 3...","1850s, the Russian Empire. One day, BASIL, a 3...",480
34,NaN,NaN,A male engineer in his late thirties encounter...,A female engineer in her late thirties encount...,1232
35,NaN,NaN,A 24-year-old man and a woman meet to go to th...,A 24-year-old trans woman and a non-binary man...,242
36,A man scientist reunites with a woman scientis...,Two nonbinary scientists reunite in a small re...,NaN,NaN,126
37,NaN,NaN,A woman and a man engage in light-hearted offi...,Two men engage in not-so light-hearted office ...,1484

In [35]:
len(filtered_df)
filtered_df.iloc[[17]]

,A1CISHET,A1LGBTQ+,A2CISHET,A2LGBTQ+,Duration (in seconds)
25,NaN,NaN,"On their way out from their first date, Jack a...","On their way out from their first date, Noa an...",452