In [1]:
import pandas as pd
import os

In [2]:
def find_latest_csv(path_to_dir):
    files = [dir for dir in os.listdir(path_to_dir) if dir.endswith(".csv")]
    all_csv = [os.path.join(path_to_dir, file) for file in files]
    return max(all_csv, key=os.path.getctime)

In [4]:
csv_dir = os.path.abspath("../../unprocessed/")
path_csv = find_latest_csv(csv_dir)
df = pd.read_csv(path_csv)
df = df.drop(labels=[0, 1], axis=0)
df.head()

,StartDate,EndDate,Status,Progress,Duration (in seconds),Finished,RecordedDate,ResponseId,DistributionChannel,UserLanguage,...,A2LGBTQ+,Q10,Q1,Q1.2,Q2,prompt_order,Create New Field or Choose From Dropdown...,Create New Field or Choose From Dropdown..,Q_UnansweredPercentage,Q_UnansweredQuestions
2,2025-11-13 23:19:18,2025-11-13 23:25:16,IP Address,100,358,True,2025-11-13 23:25:17,R_2IWABf2nqDWOuop,anonymous,EN,...,A trans man and a nonbinary person go on a dat...,Confirm,Yes,Agender under nonbinary umbrella. Pansexual bu...,25–34,2,NaN,NaN,0,NaN
3,2025-11-14 10:08:37,2025-11-14 10:16:46,IP Address,100,488,True,2025-11-14 10:16:47,R_8cTVyoYxn5IgulN,anonymous,EN,...,NaN,Confirm,Yes,Non binary queer person,25–34,1,NaN,NaN,0,NaN
4,2025-11-13 21:17:53,2025-11-14 11:25:38,IP Address,100,50865,True,2025-11-14 11:25:39,R_842Do7KCQTFOKDQ,anonymous,EN,...,Two men go on a first date to the fair. They e...,Confirm,Yes,cisgender gay man,18–24,2,NaN,NaN,0,NaN
5,2025-11-14 14:44:14,2025-11-14 14:59:20,IP Address,100,905,True,2025-11-14 14:59:21,R_8R4zy2zJPOjThya,anonymous,EN,...,NaN,Confirm,Yes,NaN,25–34,1,NaN,NaN,0.16666666666666666,QID17
6,2025-11-13 21:09:39,2025-11-13 21:09:41,IP Address,33,2,False,2025-11-20 21:09:43,R_8ZKxHuhLB3ffvSF,anonymous,EN,...,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,0,NaN

In [5]:
df.columns

Index(['StartDate', 'EndDate', 'Status', 'Progress', 'Duration (in seconds)',
       'Finished', 'RecordedDate', 'ResponseId', 'DistributionChannel',
       'UserLanguage', 'Q_DuplicateRespondent', 'A1LGBTQ+', 'A1CISHET',
       'A2CISHET', 'A2LGBTQ+', 'Q10', 'Q1', 'Q1.2', 'Q2', 'prompt_order',
       'Create New Field or Choose From Dropdown...',
       'Create New Field or Choose From Dropdown..', 'Q_UnansweredPercentage',
       'Q_UnansweredQuestions'],
      dtype='object')

In [6]:
def_df = df[['A1CISHET', 'A1LGBTQ+', 'A2CISHET', 'A2LGBTQ+', 'Duration (in seconds)', 'Finished', 'Q_DuplicateRespondent', 'Q1', 'Q1.2', 'Q2', 'prompt_order']]
def_df = def_df.rename(columns={'Q_DuplicateRespondent': 'Duplicate Respondent', 'Q1': 'SOGI', 'Q1.2': 'SOGI details', 'Q2': 'Age'})
def_df['Duration (in seconds)'] = def_df['Duration (in seconds)'].astype(int)
def_df['A1CISHET'] = def_df['A1CISHET'].astype('string')
def_df['A2CISHET'] = def_df['A2CISHET'].astype('string')
def_df['A1LGBTQ+'] = def_df['A1LGBTQ+'].astype('string')
def_df['A2LGBTQ+'] = def_df['A2LGBTQ+'].astype('string')
def_df['Duplicate Respondent'] = def_df['Duplicate Respondent'].astype(bool)
def_df['SOGI'] = def_df['SOGI'].astype('category')
def_df['SOGI details'] = def_df['SOGI details'].astype('string')
def_df['Age'] = def_df['Age'].astype('category')
def_df['prompt_order'] = def_df['prompt_order'].astype(int)

In [7]:
def_df.dtypes

A1CISHET                 string[python]
A1LGBTQ+                 string[python]
A2CISHET                 string[python]
A2LGBTQ+                 string[python]
Duration (in seconds)             int64
Finished                         object
Duplicate Respondent               bool
SOGI                           category
SOGI details             string[python]
Age                            category
prompt_order                      int64
dtype: object

In [8]:
def_df['A1CISHET'].unique()

<StringArray>
[                                                                                                                                                                                                                                                                                     <NA>,
                                                                                                                                                                                                                            'A man falls in love with a female coworker, on a work trip. ',
                                 'A woman who owns a building in Lyon calls in a male electrician to deal with a major power outage. As they work together, they bond over their shared love of Thomas Edison and as the lights come back on, they make plans to meet later that evening.',
 'Jacklyn and Mohammed decided to go out after working in the same protest organisation for a few months. Exploring hardships, climate dread, outrage fatigue, the silences between them grew, and they now have to reconcile with the beauty and dread of humanity in the shape of two. ',
                                                                                               'Stuck in the forest and anxious about being with a fairly strange person, the couple starts getting into fights about small nitpicks in each others' behaviors coping with the situation.',
                                                                                                                                               'A man and a woman are moving in together after a 6 months long relationship, but secrets start to unfold on the way to the new apartment…',
                                          'A woman's ghost in the cinema falls in love with the man playing main character in a film. When the film performs poorly at box office in the first week, the theatre decides to pull it...but not if the ghost has something to say about it.',
                                                                                                            'A woman and a man meet in a bar on New Year’s Eve, they dance together. However when midnight strikes, just as they finished kissing, one suddenly disappears in the night. ',
                                                                                         'Two fifty-old persons, a woman and a man, were sat inside a restaurant, holding each other's hand. They were waiting to be served when, suddenly, they heard a scream coming from the kitchen. ',
                                                                                                                                                                                                                                                                'fdsafdsafdsafdsafdsafdsa',
                                                                                                                                                                             'A couple, in their early twenties, goes on a date Ice Skating. On the ice they hold hands and eat churros. ',
                                                     'A man scientist reunites with a woman scientist in a small Arctic research station to observe a glowing flower. They have to confront the fact that they are becoming attracted to each other when a strong storm traps them there.',
                                                                                                        'After talking for a couple of weeks, a guy and a girl go on their very anticipated first date. The Christmas markets being open this time of year, they decide to try them out. ']
Length: 13, dtype: string

In [26]:
filtered_df = def_df.dropna(axis=0, how='all', subset=['A1CISHET', 'A1LGBTQ+', 'A2CISHET', 'A2LGBTQ+'])

columns_to_check = filtered_df[['A1CISHET', 'A1LGBTQ+', 'A2CISHET', 'A2LGBTQ+']]

example = filtered_df[['A1CISHET', 'A1LGBTQ+']]

mask = filtered_df[['A1CISHET', 'A1LGBTQ+', 'A2CISHET', 'A2LGBTQ+']].apply(lambda col: col.str.fullmatch(r'(.+ ){3,}.*'), axis=1).all(1)

In [28]:
len(mask)

29

In [ ]:
non_valid_rows = columns_to_check.apply(lambda row: row[row.str.fullmatch(r'(.+ ){3,}.*')], axis=1)

In [30]:
filtered_df = filtered_df[mask]
len(filtered_df)

/var/folders/qw/ppnlkp3d64s3j26nm8dvxq800000gn/T/ipykernel_32349/2173574200.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filtered_df = filtered_df[mask]

27

In [99]:
len(filtered_df)

29